* {
  margin: 0;
}
.access-section {
  display: flex;
  justify-content: center;
}

.access {
  text-align: center;
  background-color: #e8be6b;
  width: 50%;
}

.hotel-name {
  font-size: 64px;
  padding: 10px;
  margin: 50px 0px 76px 0px;
}

.transportation {
  color: #383838;
  margin-bottom: 50px;
}

.status {
  margin: auto;
  display: flex;
  justify-content: center;
  border-top: solid 2px white;
  border-bottom: solid 2px white;
  width: 480px;
}

.rest {
  background-color: white;
  padding: 0px 20px;
  margin: 10px;
}

.none {
  padding: 0px 20px;
  margin: 10px;
}

.retail-link {
  display: flex;
  margin-top: 50px;
  display: flex;
  padding: 3px 10px 10px 10px;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.thin_Arrow_right_img {
  width: 10px;
  height: 8px;
  position: absolute;
  right: 13px;
  bottom: 19px;
}

.access-button {
  display: flex;
  width: 248px;
  height: 47px;
  padding: 0px 14px;
  justify-content: center;
  align-items: center;
  background: #76738a;
  position: relative;
}

.access-button a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 40.8px;
  letter-spacing: 1.12px;
  color: #fff;
}
.access-button a :hover {
  background-color: #555;
}
#map {
  width: 50%;
  height: 584px;
  background-color: grey;
}
