body {
  background-color: #efe7d7;
  margin: 0;
}
p {
  margin: 0;
}

.title-section {
  text-align: center;
  padding: 49px;
}

.experience-title_img {
  width: 391px;
  height: 167px;
  display: block;
  margin: auto;
  padding-bottom: 29px;
}

.events-section {
  display: grid;
  grid-template-columns: repeat(2, 404px);
  gap: 48px 100px;
  justify-content: center;
  max-width: 828px;
  margin: 0 auto;
  padding: 24.5px;
}

.event {
  width: 404px;
  height: fit-content;
  text-align: center;
  border: 1px solid white;
  transition: 1s;
  overflow: hidden;
  margin: 0;
}

.event-img-wrapper {
  width: 404px;
  height: 320px;
  overflow: hidden;
}
.image {
  width: 404px;
  height: 212px;
}

.prices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.prices p {
  margin: 0;
}

.event-gold {
  background-color: #e6ba5d;
  color: white;
  border: none;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 1.12px;
  width: 250px;
}

.event-silver {
  background-color: #d8d8d8;
  color: white;
  border: none;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 1.12px;
  width: 250px;
}

.prescribe-section {
  text-align: center;
  padding: 30px;
}

.prescribe-btn a {
  display: inline-block;
  padding: 32px 122px;
  font-size: 18px;
  background-color: #6e987c;
  color: white;
  text-decoration: none;
  transition: 1s;
}

.prescribe-btn a:hover {
  background-color: green;
  transform: scale(1.1);
}

.event-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.event-name {
  font-size: 22px;
  line-height: 36px;
  font-weight: 600;
  margin: 0;
}

.bar {
  width: 75px;
  height: 2px;
  background: #fff;
}

.event-description {
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 1.12px;
}

.arrow-right {
  width: 18px;
  height: 16px;
  background: #e6ba5d;
}

.event-detail-icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}
